<div class="header_categorytrend-item">
    <div class="header_categorytrend-img" id="header_categorytrend_{{categoryIndex}}-img{{add trendIndex 1}}">
        <div class="newsimg">
            <img src="{{imageUrl}}" alt="" class="header_categorytrend-img">
        </div>
    </div>
    <div>
        <h4 class="header_categorytrend-caption">
            {{caption}}
        </h4>
        <span class="card_new_daterelease">{{dateRelease}}</span>
    </div>
</div>
