<div class="trending-area">
    <div class="row">
        <div class="col-lg-12">
            <div class="trending-tittle">
                <strong>Trending now</strong>
                <div class="trending-animated">
                    <ul id="js-news" class="js-hidden">
                        <li class="news-item">Bangladesh dolor sit amet, consectetur adipisicing elit.</li>
                        <li class="news-item">Spondon IT sit amet, consectetur.......</li>
                        <li class="news-item">Rem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="trending-top mb-30">
                <div class="trend-top-img">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {{#each trending-top}}
                            {{#if (eq @index 0)}}
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img src="{{imageUrl}}" class="d-block w-100" alt="">
                                <div class="trend-top-cap">
                                    <div class="trend-top-information">
                                        <span class="color{{category_number}}">{{category}}</span>
                                        <span class="trand-right_time color{{category_number}}">{{dateRelease}}</span>
                                    </div>
                                    <h2><a href="detail.html"> {{{caption}}}</a></h2>
                                </div>
                            </div>
                            {{else}}
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="{{imageUrl}}" class="d-block w-100" alt="">
                                <div class="trend-top-cap">
                                    <div class="trend-top-information">
                                        <span class="color{{category_number}}">{{category}}</span>
                                        <span class="trand-right_time color{{category_number}}">{{dateRelease}}</span>
                                    </div>
                                    <h2><a href="details.html"> {{{caption}}}</a></h2>
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="trending-bottom">
                <div class="row">
                    {{#each trending-bottom}}
                    <div class="col-lg-4">
                        <div class="single-bottom mb-35">
                            <div class="trend-bottom-img mb-30">
                                <img src="{{imageUrl}}" alt="">
                            </div>
                            <div class="trend-bottom-cap">
                                <div class="trand-bottom-information">
                                    <span class="color{{category_number}}">{{category}}</span>
                                    <span class="trand-right_time color{{category_number}}">{{dateRelease}}</span>
                                </div>
                                <h4><a href="details.html">{{{caption}}}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {{#each trand-right-single}}
            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                    <img class="img-right" src="{{imageUrl}}" alt="">
                </div>
                <div class="trand-right-cap">
                    <div class="trand-right-information">
                        <span class="color{{category_number}}">{{category}}</span> <br>
                        <span class="trand-right_time color{{category_number}}">{{dateRelease}}</span>
                    </div>
                    <h4><a class="content-right" href="details.html">{{{caption}}}</a></h4>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="category">
    <div class="row">
        <div class="recent-articles">
            <div class="container">
                <div class="recent-wrapper">
                    <!-- section Tittle -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-tittle mb-30">
                                <h3>Bài viết gần đây</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12">
                            <div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  <div><h3>1</h3></div>
  <div><h3>2</h3></div>
  <div><h3>3</h3></div>
  <div><h3>4</h3></div>
  <div><h3>5</h3></div>
  <div><h3>6</h3></div>
</div>
                            <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous"
                                role="button" style="display: block;">Previous</button>
                            <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next"
                                role="button" style="display: block;">Next</button>
                        </div>
                        <script>
                            $('.autoplay').slick({
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                autoplay: true,
                                autoplaySpeed: 2000,
                            });
                        </script>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>